# Yandex Direct API
YD_TOKEN=
YD_CLIENT_LOGIN=
YD_SANDBOX=false
YD_OUTPUT_DIR=

# Yandex OAuth helper
YANDEX_OAUTH_CLIENT_ID=
YANDEX_OAUTH_CLIENT_SECRET=

# Yandex Wordstat
YANDEX_WORDSTAT_TOKEN=
YANDEX_WORDSTAT_CLIENT_PATH=

# Yandex Search API
SEARCH_API_KEY=
FOLDER_ID=

# Optional Metrika
YANDEX_METRIKA_TOKEN=
YANDEX_METRIKA_COUNTER_ID=
